*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    color: white;
    background-color: rgb(43, 56, 68);
    align-items: center;
}
button{
    background-color: rgb(43, 56, 68);
    width: 150px;
    height: 45px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
.buton{
    padding: 20px 40px;
}
body{
    background-color: rgb(32, 44, 54);
}
.hamasi{
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
    flex-wrap: wrap;

}
.yozuv{
    /* width: 500px; */
    height: 150px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rasim img{
    width: 400px;
    border-radius: 10px;
}
.asab{
    margin-top: 60px;
}

.but{
    width: 120px;
    height: 35px;
}
.pas{
    color: white;
    flex-wrap: wrap;
}
.hamayozuv{
    flex-wrap: wrap
}
@media(max-width:554px){
    .pas{
        margin-top: 120px;
    }
}